<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Show View</title>
  </head>
  <body>
    <h1><%= @post.title %></h1>
    <p><%= @post.description %></p>

  </body>
</html>
